@font-face {
  font-family: neoSansIntel;
  src: url(/fonts/neo-sans-intel.ttf);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: neoSansIntel, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

main {
  background-color: var(--clr-light);
  color: var(--clr-text);
  background-image: url(/OdenseRenovation/images/background-pattern.png);
  background-size: 400px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: neoSansIntel, Helvetica, Arial, sans-serif;
  word-wrap: break-word;
  margin-bottom: 1rem;
}

section,
footer {
  padding-block: 3rem;
}

p a {
  text-decoration: underline;
  color: var(--clr-primary-green);
}

p {
  line-height: 1.875rem;
}

img {
  width: 100%;
  height: 100%;
}

strong {
  color: var(--clr-primary-green);
  font-weight: 700;
  font-size: 2.5rem;
}

/* Input range */
input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 3px solid var(--clr-light);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100px;
  background: var(--clr-primary-green);
  cursor: pointer;
  margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  border: 3px solid var(--clr-light);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100px;
  background: var(--clr-primary-green);
  cursor: pointer;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  border: 3px solid var(--clr-light);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100px;
  background: var(--clr-primary-green);
  cursor: pointer;
}

/* Range track */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.4rem;
  cursor: pointer;
  background: var(--clr-gray);
  border-radius: 100px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 0.4rem;
  cursor: pointer;
  background: var(--clr-gray);
  border-radius: 100px;
}
