@font-face {
  font-family: neoSansIntel;
  src: url(/fonts/neo-sans-intel.ttf);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: neoSansIntel, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-light);
  color: var(--clr-dark);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: neoSansIntel, Helvetica, Arial, sans-serif;
  word-wrap: break-word;
  margin-bottom: 1rem;
}

section,
footer {
  padding-block: 3rem;
}

p a {
  text-decoration: underline;
  color: var(--clr-primary-green);
}

p {
  line-height: 1.875rem;
}
