*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: neoSansIntel, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-white);
  color: var(--clr-dark);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: neoSansIntel, Helvetica, Arial, sans-serif;
}
