/* Utilities */
.wrapper {
  max-width: 84.375rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

.food-waste {
  background-color: var(--clr-miljoestyrelsen-green);
  color: var(--clr-light);
}

.glass {
  background-color: var(--clr-miljoestyrelsen-cyan);
  color: var(--clr-light);
}

.paper {
  background-color: var(--clr-miljoestyrelsen-blue);
  color: var(--clr-light);
}

.carton {
  background-color: var(--clr-miljoestyrelsen-brown);
  color: var(--clr-light);
}

.cardboard {
  background-color: var(--clr-miljoestyrelsen-brown);
  color: var(--clr-light);
}

.metal {
  background-color: var(--clr-miljoestyrelsen-gray);
  color: var(--clr-light);
}

.plastic {
  background-color: var(--clr-miljoestyrelsen-purple);
  color: var(--clr-light);
}

.textile {
  background-color: var(--clr-miljoestyrelsen-purple);
  color: var(--clr-light);
}

.hazardous-waste {
  background-color: var(--clr-miljoestyrelsen-red);
  color: var(--clr-light);
}

.residual-waste {
  background-color: var(--clr-miljoestyrelsen-black);
  color: var(--clr-light);
}

.background-pattern {
  background-image: url(/OdenseRenovation/images/background-pattern.png);
  background-size: 400px;
}

.gray {
  background-color: var(--clr-gray-2);
  color: var(--clr-dark);
  background-image: url(/OdenseRenovation/images/background-pattern.png);
  background-size: 400px;
}

.dark {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  background-image: url(/OdenseRenovation/images/background-pattern.png);
  background-size: 400px;
}

.dark .title,
.dark .title,
.dark .title,
.dark .title,
.dark .title,
.dark .title {
  color: var(--clr-light);
}

.light {
  background-color: var(--clr-light);
  color: var(--clr-text);
  background-image: url(/OdenseRenovation/images/background-pattern.png);
  background-size: 400px;
}

.light .title,
.light .title,
.light .title,
.light .title,
.light .title,
.light .title {
  color: var(--clr-dark);
}

.section-description {
  margin-bottom: 1rem;
}

.hide {
  transform: translateY(calc(var(--header-top-height) * -1));
}

.mobile-hidden {
  display: none;
}

@media (min-width: 768px) {
  .mobile-hidden {
    display: block;
  }
}
