---
import Layout from "../layouts/Layout.astro";
import "../styles/style.css";
---

<Layout title="Sortering guide - Odense Renovation">
  <!-- Main -->
  <main id="main"></main>
</Layout>

<style>
  /* Section */
  #main {
    background-image: url(/OdenseRenovation/images/background-pattern.png);
    background-size: 400px;
  }

  #game {
    padding-inline: 1rem;
  }

  #more p {
    max-width: 40rem;
  }

  /* Cards */
  .flashcards {
    display: grid;
    gap: 1rem;
  }

  @media (min-width: 400px) {
    .flashcards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 768px) {
    .flashcards {
      grid-template-columns: repeat(4, 1fr);
    }
  }
</style>
