---
import FlashCardComp from "../components/FlashCard.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ScrollAnimation from "../components/ScrollAnimation.astro";
import { correctCards, wrongCards } from "../data/food-waste-cards.data";
import Layout from "../layouts/Layout.astro";
import "../styles/style.css";
---

<Layout title="Sortering guide - Odense Renovation">
  <!-- Header -->
  <Header
    title="Madaffald"
    type="food-waste"
    description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, quo? Minima praesentium accusamus molestiae quasi saepe doloremque debitis corporis eum."
  />

  <!-- Main -->
  <main id="main">
    <!-- How -->
    <section class="wrapper">
      <h2>Sortering</h2>
      <p class="section-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, quo?
        Minima praesentium accusamus molestiae quasi saepe doloremque debitis
        corporis eum.
      </p>

      <div class="cards">
        <!-- Correct Flashcards -->
        <div class="cards__container">
          <h3>Eksempler på madaffald</h3>
          <div class="cards__grid">
            {
              correctCards.map((flashCard) => (
                <FlashCardComp flashCard={flashCard} />
              ))
            }
          </div>
        </div>

        <!-- Wrong Flashcards -->
        <div class="cards__container">
          <h3>Eksempler på hvad der ikke er madaffald</h3>
          <div class="cards__grid">
            {
              wrongCards.map((flashCard) => (
                <FlashCardComp flashCard={flashCard} />
              ))
            }
          </div>
        </div>
      </div>
    </section>

    <!-- How -->
    <section class="wrapper">
      <h2>Madaffaldets rejse</h2>
      <!-- TODO - Insert correct animation -->
      <ScrollAnimation
        id="lottiePlayer_RandomAnim"
        src="https://assets4.lottiefiles.com/packages/lf20_15vyYQNGMX.json"
      />
    </section>

    <!-- Read more -->
    <section id="more">
      <div class="wrapper">
        <h2>Sorteringsguiden</h2>
        <p>
          Odense Renovation har lavet en
          <a href="https://www.odenserenovation.dk/sorteringsguide/"
            >sorteringsguide</a
          >, hvor du kan finde ud af, hvordan du skal sortere forskellige mad-
          og fødevarer.
        </p>
      </div>
    </section>

    <!-- Hvorfor -->
    <section class="wrapper">
      <h2>Husk også</h2>
      <p>
        Når du sorterer madaffald bidrager du med, at vi bruger færre nye
        ressourcer.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, quo?
        Minima praesentium accusamus molestiae quasi saepe doloremque debitis
        corporis eum.
      </p>
    </section>

    <!-- Game -->
    <section id="game">
      <h2>Sorteringsspil</h2>
      Indsæt spillet her
    </section>
  </main>

  <!-- Footer -->
  <Footer />
</Layout>

<style>
  /* Section */
  #main {
    background-image: url(/OdenseRenovation/images/background-pattern.png);
    background-size: 400px;
  }

  #game {
    height: 100dvh;
    padding-inline: 1rem;
  }

  #more {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    background-image: url(/OdenseRenovation/images/background-pattern.png);
    background-size: 400px;
  }

  #more p {
    max-width: 40rem;
  }

  /* Cards */
  .cards,
  .cards__grid {
    display: grid;
    gap: 1rem;
  }

  .cards {
    display: grid;
  }

  .cards__container {
    background-color: var(--clr-primary-green);
    padding: 1rem;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 768px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }

    .cards__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
