---
import FlashCard from '../components/FlashCard.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/index.css";
---

<Layout title="Welcome to Astro.">
	<Header />

	<!-- Main -->
	<main id="main">
		<!-- How -->
		<section class="wrapper">
			<h2>Hvad</h2>
			<p>
				Madaffald er affaldet, der kommer direkte fra madlavning. Madaffald er
				dog ikke den gamle grøn affald.
			</p>

			<div class="cards">
				<FlashCard>
					<!-- Front -->
					<h3 slot="front">Fritureolie</h3>
					<!-- Back -->
					<p slot="back">Fritureolie skal i madaffald</p>
				</FlashCard>
			</div>
		</section>

		<!-- How -->
		<section class="wrapper">
			<h2>Hvordan</h2>
			<!-- TODO - Insert animation -->
			<p>animation...</p>
		</section>

		<!-- Hvorfor -->
		<section class="wrapper">
			<h2>Hvorfor</h2>
			<p>
				Når du sorterer madaffald bidrager du med, at vi bruger færre nye
				ressourcer.
			</p>
		</section>

		<!-- Game -->
		<section id="game">
			<h2>Sorteringsspil</h2>
			<!-- TODO - Insert game -->
			<p>spil...</p>
		</section>

		<!-- Read more -->
		<section id="more" class="wrapper">
			<h2>Læs mere om sortering</h2>
			<p>
				Odense Renovation har lavet en
				<a href="https://www.odenserenovation.dk/sorteringsguide/"
					>sorteringsguide</a
				>, hvor du kan finde ud af, hvordan du skal sortere forskellige mad-
				og fødevarer.
			</p>
		</section>
	</main>

	<!-- Footer -->
	<footer></footer>
</Layout>

<style>

</style>
