---
import Game from "../components/Game.astro";
import RecyclingStations from "../components/RecyclingStations.astro";
import Section from "../components/Section.astro";
import Teaser from "../components/Teaser.astro";
import WasteNavigation from "../components/WasteNavigation.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/style.css";
---

<Layout title="Sortering guide - Odense Renovation">
  <!-- Main -->
  <main id="main">
    <Teaser
      title="Den Digitale Sorterings Brochure"
      description=""
      breadcrumbs={[{ title: "sortering", link: "sortering" }]}
      image={{
        src: "/OdenseRenovation/images/waste-thumbnail.png",
        alt: "Madaffald",
      }}
    />

    <Section>
      <h2 class="title">Sorterings Kategorier</h2>
      <WasteNavigation />
    </Section>
    <Section type="dark">
      <h2 class="title">Genbrugsstationer</h2>
      <RecyclingStations />
    </Section>
    <Section>
      <h2 class="title">Sorteringsspillet</h2>
      <Game />
    </Section>
  </main>
</Layout>

<style>
  /* Section */
  #main {
    background-image: url(/OdenseRenovation/images/background-pattern.png);
    background-size: 400px;
  }

  #game {
    padding-inline: 1rem;
  }

  #more p {
    max-width: 40rem;
  }

  /* Cards */
  .flashcards {
    display: grid;
    gap: 1rem;
  }

  @media (min-width: 400px) {
    .flashcards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 768px) {
    .flashcards {
      grid-template-columns: repeat(4, 1fr);
    }
  }
</style>
