---
import type { Breadcrumb } from "../logic/types";

interface Props {
  breadcrumbs: Breadcrumb[];
}

const { breadcrumbs } = Astro.props;
---

<ul>
  {
    breadcrumbs.map((breadcrumb) => (
      <li>
        <a href={breadcrumb.link}>{breadcrumb.title}</a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
  }

  li {
    display: flex;
    align-items: center;
  }

  li::after {
    content: "/";
    display: inline-block;
    padding-inline: 0.5rem;
    font-size: 1rem;
  }
</style>
