---
import type { FlashCard } from "../logic/types";
interface Props {
  flashCard: FlashCard;
}

const { flashCard } = Astro.props;
---

<div class="flip-card" tabindex="0">
  <div class="flip-card__content">
    <div class="flip-card__front">
      <p class="flip-card__title">{flashCard.title}</p>
      <img
        src={flashCard.image.src}
        alt={flashCard.image.alt}
        class="flip-card__image"
      />
    </div>
    <div class="flip-card__back">
      <p>{flashCard.text}</p>
    </div>
  </div>
</div>

<style>
  .flip-card {
    aspect-ratio: 1 / 1;
    perspective: 1000px;
    cursor: pointer;
  }

  .flip-card__content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 800ms;
    transform-style: preserve-3d;
  }

  .flip-card:is(:hover, :focus) .flip-card__content {
    transform: rotateY(180deg);
  }

  .flip-card__front,
  .flip-card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 0.25rem;
    padding: 0.5rem;
    overflow: hidden;
  }

  .flip-card__front {
    background-color: var(--clr-primary-green);
    color: var(--clr-light);
    border-color: var(--clr-primary-green);
  }

  .flip-card__title {
    z-index: 10;
    word-wrap: break-word;
  }

  .flip-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
    filter: brightness(60%);
  }

  .flip-card__back {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border: 0.5rem solid;
    z-index: 20;
  }

  .flip-card__title {
    font-size: 1.5rem;
    font-weight: 800;
  }

  .flip-card__back {
    background-color: var(--clr-light);
    color: black;
    border-color: var(--clr-dark);
    transform: rotateY(180deg);
  }
</style>
