
<div class="flip-card" tabindex="0">
	<div class="flip-card__content">
		<div class="flip-card__front">
			<slot name="front">
				Front
			</slot>
		</div>
		<div class="flip-card__back">
			<slot name="back">
				Back
			</slot>
		</div>
	</div>
</div>
