<footer class="footer background-pattern">
  <div class="footer-content">
    <div class ="footer-info">
      <div class="footer-row">
        <a href="https://www.odenserenovation.dk/" class="footer-logo"><img src="/OdenseRenovation/public/images/svg/svgexport-1.svg"></a>
        <ul class="footer-contact">
          <ul>
            <a href="https://www.google.dk/maps/place/Snapindvej+21+5200+Odense+V" target="_blank">Snapindvej 21, 5200 Odense V</a>
          </ul>
          <ul>
            <a href="https://www.odenserenovation.dk/tel:63138200" title="Ring til vores administration">63 13 82 00</a>
          </ul>
          <ul>
            <a href="mailto:info@odenserenovation.dk" title="Send en e-mail til vores administration">kundeservice@odenserenovation.dk</a>
          </ul>
          <ul>
            CVR: 17 41 40 70
          </ul>
        </ul>
      </div>
      <div class="footer-row">
        <ul class="footer-policy">
          <li></li>
          <li></li>
        </ul>
        <ul class="footer-socials">
          <li>
            <a href=""><img src="" alt="faebook link"></a>
          </li>
          <li>
            <a href="https://www.instagram.com/odenserenovation/"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-image">
      <picture>
        <source>
        <source>
        <source>
        <img >
      </picture>
    </div>
</footer>

<style>
  .footer-content{
    max-width: 1350px;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  } 
  .footer-logo{
    max-width: 160px;
    display: flex;
    margin-right: 2.5rem;
    justify-content: flex-start;
    align-items: center;
  }
  footer {
    background-color: var(--clr-dark);
    color: var(--clr-light);
  }
  .footer-info{
    display: flex;
    justify-content: space-between;

  }
  .footer-row{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }
  *, :after, :before{
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
  }
  ul{
    display: flex;
    float: left;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  li{
   float: left;
  }
  div{
    display: block;
  }
</style>
