<footer class="footer background-pattern">
  <div class="footer-content wrapper">Footer...</div>
</footer>

<style>
  footer {
    background-color: var(--clr-dark);
    color: var(--clr-light);
  }
</style>
