---
interface Props {
  title: string;
  description: string;
  type:
    | "food-waste"
    | "glass"
    | "paper"
    | "carton"
    | "cardboard"
    | "metal"
    | "plastic"
    | "textile"
    | "hazardous-waste"
    | "residual-waste";
}

const { title, type, description } = Astro.props;
---

<header id="hero" class:list={["header", type]}>
  <a href="https://www.odenserenovation.dk/" class="header__logo">
    <img
      src="/logo.svg"
      alt="Odense Renovation logo"
      class="header__logo__image"
    />
  </a>

  <h1 class="header__title">{title}</h1>
  <p>
    {description}
  </p>

  <a href="#main" class="header__scroll-link">
    <p>Scroll videre for mere information</p>
  </a>
</header>

<style>
  .header {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .header {
    position: relative;
  }

  .header__logo {
    position: absolute;
    left: 5rem;
    top: 5rem;
  }

  .header__title {
    font-size: 5rem;
    text-transform: uppercase;
  }

  /* Elements */
  .header__scroll-link {
    font-size: 1.5rem;
    position: absolute;
    bottom: 5rem;
    inset-inline: auto;
  }
</style>
