---
---

<header class="header">
  <!-- Top -->
  <nav class="header__top">
    <ul class="wrapper">
      <li>
        <a href="/">Affaldsordning i Odense</a>
      </li>
      <li>
        <a href="/">Tømningskalender - mail/sms</a>
      </li>
      <li>
        <a href="/">Søg job</a>
      </li>
      <li>
        <a href="/">Om Odense Renovation</a>
      </li>
      <li>
        <a href="/">Nyheder</a>
      </li>
      <li>
        <a href="/">Åbningstider</a>
      </li>
    </ul>
  </nav>

  <!-- Bottom -->
  <div class="header__bottom wrapper">
    <a href="https://www.odenserenovation.dk/" class="logo">
      <img src="/OdenseRenovation/logo.svg" alt="odense renovation logo" />
    </a>
    <div class="header__right">
      <nav class="header__nav">
        <ul>
          <li>
            <a href="/">Private</a>
          </li>
          <li>
            <a href="/">Erhverv</a>
          </li>
          <li>
            <a href="/">Institutioner og skoler</a>
          </li>
          <li>
            <a href="/">Boligforening</a>
          </li>
          <li>
            <a href="/" class="btn">Selvbetjening</a>
          </li>
        </ul>
      </nav>
      <button class="mobile-nav__button">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </button>
    </div>
  </div>
</header>

<script>
  const header = document.getElementsByTagName("header")[0];
  let showHeader = true;
  let lastScrollY = 0;

  document.addEventListener("scroll", () => {
    const docElem = document.documentElement;
    const docBody = document.body;
    let scrollTop = docElem["scrollTop"] || docBody["scrollTop"];

    showHeader = scrollTop < lastScrollY;

    // Toggle header
    if (showHeader) {
      header.classList.remove("hide");
    } else {
      header.classList.add("hide");
    }

    // Update last scroll Y
    lastScrollY = scrollTop;
  });
</script>

<style>
  .header {
    display: grid;
    position: fixed;
    top: 0;
    inset-inline: 0;
    z-index: 9999;
    transform: translateY(0);
    transition: transform 150ms ease-in-out;
    background-color: #ffffff;
  }

  .header__top {
    background-color: var(--clr-light);
    height: var(--header-top-height);
  }

  .header__top ul {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    font-size: 0.875rem;
  }

  .header__bottom {
    height: var(--header-bottom-height);
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .header__right {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 8rem;
  }

  .header__nav {
    display: none;
    height: 100%;
    font-size: 1.1rem;
    align-items: center;
  }

  .header__nav > ul {
    display: flex;
    gap: 3rem;
  }

  .mobile-nav__button {
    width: 18px;
    height: 18px;
    display: grid;
    cursor: pointer;
    padding: 1rem;
    border: 0;
    outline: 0;
    box-sizing: content-box;
    background-color: transparent;
  }

  .mobile-nav__button > .line {
    height: 2px;
    width: 18px;
    background-color: #212125;
    opacity: 1;
    display: flex;
    transition: all 0.3s ease-out;
  }

  @media (min-width: 900px) {
    .header__nav {
      display: flex;
    }

    .mobile-nav__button {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .header {
      transform: translateY(0) !important;
    }

    .header__top {
      display: none;
    }
  }

  @media (min-width: 768px) {
    .header__nav {
      padding-left: 2rem;
    }
  }
</style>
