---
import "../styles/header.css";
---

<header id="hero" class="header food-waste">
  <div>
    <a href="https://www.odenserenovation.dk/" class="header__logo">
      <img
        src="/logo.svg"
        alt="Odense Renovation logo"
        class="header__logo__image"
      />
    </a>
  </div>

  <h1 class="header__title">Madaffald</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam,
    exercitationem.
  </p>

  <a href="#main" class="header__scroll-link">
    <p>Scroll videre for mere information</p>
  </a>
</header>