<div class="info-box">
  <slot />
</div>

<style>
  .info-box {
    background-color: var(--clr-primary-light-green);
    padding: 2rem;
    color: var(--clr-dark);
    font-size: 0.85rem;
  }
</style>
