<div class="recycling-station-container">
  <ul class="recycling-station__list">
    <li class="recycling-station">
      <h3>Bullerupvej 84B, Seden</h3>
      <p>5240 Odense NØ</p>
    </li>
    <li class="recycling-station">
      <h3>Bullerupvej 84B, Seden</h3>
      <p>5240 Odense NØ</p>
    </li>
    <li class="recycling-station">
      <h3>Bullerupvej 84B, Seden</h3>
      <p>5240 Odense NØ</p>
    </li>
  </ul>
  <img
    src="/OdenseRenovation/images/map-placeholder.png"
    alt="Placeholder map"
  />
</div>

<style>
  .recycling-station-container {
    display: flex;
    gap: 1rem;
  }

  .recycling-station__list {
    display: grid;
    gap: 1rem;
  }

  .recycling-station {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    padding: 1rem;
  }

  .recycling-station h3 {
    color: var(--clr-primary-green);
    margin: 0;
  }
  .recycling-station p {
    color: var(--clr-text);
  }
</style>
