---
interface Props {
  id: string;
  src: string;
}

const { id, src } = Astro.props;
---

<div id={id + "-container"} class="animation" style="height: 3000px">
  <lottie-player
    id={id}
    class="lottie"
    src={src}
    background="transparent"
    speed="1"></lottie-player>
</div>

<script define:vars={{ id }} defer>
  let player = document.getElementById(id);
  player.addEventListener("ready", () => {
    LottieInteractivity.create({
      mode: "scroll",
      player: "#" + id,
      container: "#" + id + "-container",
      actions: [
        {
          visibility: [0.25, 0.75],
          type: "seek",
          frames: [0, 117],
        },
      ],
    });
  });
</script>

<style>
  .lottie {
    max-width: 100dvw;
    max-height: 100dvh;
    position: sticky;
    top: 0;
  }
</style>
