---
import { navLinks } from "../data/navigation.data";
import NavLink from "./NavLink.astro";
---

<nav class="waste-navigation">
  <ul class="waste-navigation__list">
    {navLinks.map((navLink) => <NavLink navLink={navLink} />)}
  </ul>
</nav>

<style>
  .waste-navigation__list {
    display: grid;
    gap: 1rem;
  }

  @media (min-width: 300px) {
    .waste-navigation__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 400px) {
    .waste-navigation__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 450px) {
    .waste-navigation__list {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (min-width: 640px) {
    .waste-navigation__list {
      grid-template-columns: repeat(5, 1fr);
    }
  }
</style>
