*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Odense Renovation Colors */
  --clr-primary-green: #1a873a;
  --clr-primary-green-variant: #39b54a;
  --clr-primary-yellow: #ffec00;
  --clr-primary-red: #b20215;
  --clr-primary-blue: #4b92d1;
  --clr-primart-purple: #613c74;
  --clr-primary-cyan: #9ccac9;
  --clr-primary-lime: #c3ce1c;
  --clr-primary-orange: #d78300;
  --clr-light: #fff;
  --clr-dark: #212125;
  --clr-gray: #96969a;

  /* Miljoestyrelsen */
  --clr-miljoestyrelsen-green: #1cb158;
  --clr-miljoestyrelsen-brown: #bc9a6a;
  --clr-miljoestyrelsen-blue: #0283c4;
  --clr-miljoestyrelsen-gray: #566b7c;
  --clr-miljoestyrelsen-cyan: #60c3ae;
  --clr-miljoestyrelsen-purple: #913394;
  --clr-miljoestyrelsen-red: #e20f1e;
  --clr-miljoestyrelsen-black: #141414;
}

/* Base */
html {
  scroll-behavior: smooth;
}

body {
    background-color: var(--clr-white);
    color: var(--clr-dark);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

/* Header */


.cards {
}

/* Flip card */
.flip-card {
  width: 300px;
  height: 200px;
  border: 2px solid var(--clr-light);
  perspective: 1000px;
}

.flip-card__content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 800ms;
  transform-style: preserve-3d;
}

.flip-card:is(:hover, :focus) .flip-card__content {
  transform: rotateY(180deg);
}

.flip-card__front,
.flip-card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 0.25rem;
  border: 0.5rem solid;
  padding: 0.5rem;
}

.flip-card__front {
  background-color: var(--clr-primary-green);
  color: var(--clr-light);
  border-color: var(--clr-light);
}

.flip-card__title {
  font-size: 1.5rem;
  font-weight: 800;
}

.flip-card__back {
  background-color: var(--clr-light);
  color: black;
  border-color: var(--clr-primary-green);
  transform: rotateY(180deg);
}
